<header>
    <div class="container-fluid bg-light py-3 text-center d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <h5 class="mb-0 text-primary">
                        <i class="bi bi-clock"></i> Horario: 8:00 AM - 8:00 PM
                    </h5>
                </div>
                <div class="col-md-4">
                    <h4 class="mb-0 text-success">
                        <i class="bi bi-shield-check"></i> Farmacia Confiable
                    </h4>
                </div>
                <div class="col-md-4">
                    <h5 class="mb-0 text-warning">
                        <i class="bi bi-telephone"></i> Emergencias: 555-1234
                    </h5>
                </div>
            </div>
        </div>
    </div>
</header>